<div class="dashboard">
    <div class="card upcoming">
        <div class="card-content">
            <div class="card-image">
                <img src="../../../assets/fund.svg" alt="Upcoming">
            </div>
            <div class="card-text">
                <p>My Balance</p>
                <h2>$12,750</h2>
            </div>
        </div>
    </div>

    <div class="card past">
        <div class="card-content">
            <div class="card-image">
                <img src="../../../assets/income.svg" alt="Past">
            </div>
            <div class="card-text">
                <p>Income</p>
                <h2>$5,600</h2>
            </div>
        </div>
    </div>

    <!-- <div class="card no-past">
      <div class="card-content">
        <div class="card-image">
          <img src="../../../assets/no-past.svg" alt="No Past">
        </div>
        <div class="card-text">
          <h2>No Past</h2>
          <p>No past events or tasks to display.</p>
        </div>
      </div>
    </div>
  
    <div class="card empty">
      <div class="card-content">
        <div class="card-image">
          <img src="../../../assets/empty.svg" alt="Empty">
        </div>
        <div class="card-text">
          <h2>Empty</h2>
          <p>No data available.</p>
        </div>
      </div>
    </div> -->
</div>