
<div class="bg-img">
    <div class="content">
       <header class="text-dark">To verify your organisation account tap on the button below.</header>
       <form  class="login-form" [formGroup]="loginForm">
          <!-- <div class="field">
             <span class="fa fa-user"></span>
             <input type="email" id="sEmail" formControlName="sEmail" placeholder="Enter Your Email"/>
          </div> -->
      
          <br><br>
          <div class="field" id="login">
            <input  type="submit" (click)="onSubmit()" value="Confirm">
         </div>
       </form>
    </div>
  </div>
  
  