.transaction-container {
  padding-top: 20px;
  max-width: 100%;
  margin: auto;
  background-color: #f7f9fc;
  border-radius: 8px;


  .tabs {
    border-bottom: 2px solid #EBEEF2;
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;

    .tab {
      padding: 10px 20px;
      border: none;

      background-color: transparent;
      cursor: pointer;
      font-weight: bold;
      color: #718EBF;

      &.active {
        border-bottom: 2px solid #1814F3;
        color: #1814F3;
      }
    }
  }

  .tabel-view {
    padding: 0px;
  }

  .transaction-table {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    border-collapse: collapse;

    thead {
      border-bottom: 1.5px solid #e5e7eb;

      th {
        padding: 12px;
        text-align: left;
        font-weight: bold;
        color: #718EBF;
      }
    }

    tbody {
      tr {

        td {
          border-bottom: 1px solid #F2F4F7;
          height: 75px !important;
          font-weight: 500;
          padding: 16px !important;
          color: #232323;

          &:last-child {
            text-align: center;
          }

          &.negative {
            color: #fc4560;
          }

          &.positive {
            color: #0de4ae;
          }
        }
      }
    }

    .download-btn {
      // margin-left: -60px !important;
      font-size: 15px;
      color: #123288;
      padding: 5px 15px;
      border: 1.5px solid #123288;
      border-radius: 20px;
      cursor: pointer;
      background-color: #FFFFFF;

      &:hover {
        color: #1814F3;
        border: 1.5px solid #1814F3;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-top: 20px;

    .pagination-btn {
      padding: 8px 12px;
      border: none;
      cursor: pointer;
      border-radius: 4px;

      &.active {
        background-color: #5e7ce2;
        color: white;
      }

      &:hover {
        background-color: #dcdfe6;
      }
    }

    .page-item {
      border: none;
      cursor: pointer;
      &.active {
        .page-link {
          background-color: #1814F3;
          color: white;
          font-weight: bold;
          font-size: 14px;
          border-radius: 10px;
        }
      }
    }

    .page-link {
      border: none;
      background: transparent;
      color: black; // Ensures the default color is set when not active
    }

  }
}

@media (max-width: 768px) {
  .tabs {
    display: flex;
    justify-content: space-between;

    .tab {
      font-size: 12px;
      padding: 10px 20px;
      border: none;
      border-bottom: 2px solid transparent;
      background-color: transparent;
      cursor: pointer;
      font-weight: bold;
      color: #333;

      &.active {
        border-bottom: 2px solid #5e7ce2;
        color: #5e7ce2;
      }
    }
  }

  .transaction-table {
    font-size: 13px;

    thead {
      border-bottom: none !important;
    }

    td {
      padding: 26px !important;
    }

    .download-btn {
      padding: 4px 8px;
    }
  }

  .pagination-btn {
    padding: 6px 10px;
  }
}