<div class="transaction-container">
    <div class="tabs">
        <!-- <button class="tab" [class.active]="activeTab === 'All Transactions'"
            (click)="setActiveTab('All Transactions')">
            All Transactions
        </button> -->
        <button class="tab" [class.active]="activeTab === 'Upcoming'" (click)="setActiveTab('Upcoming')">
            Upcoming
        </button>
        <button class="tab" [class.active]="activeTab === 'Past'" (click)="setActiveTab('Past')">
            Past
        </button>
    </div>


    <div class="table-view">
        <table class="transaction-table">
            <thead>
                <tr>
                    <th *ngIf="!bIsMovileView">Logo</th>
                    <th *ngIf="!bIsMovileView">Event Name</th>
                    <th *ngIf="!bIsMovileView">Start Date</th>
                    <th *ngIf="!bIsMovileView">Start Time</th>
                    <th *ngIf="!bIsMovileView">Event Type</th>
                    <th *ngIf="!bIsMovileView">Description</th>
                    <th *ngIf="!bIsMovileView">View</th>

                </tr>
            </thead>
            <tbody *ngIf="!bIsMovileView">
                <tr *ngFor="let event of eventsArray">
                    <td>
                        <img [src]="event.sLogo" class="rounded-circle" style="width: 40px; height: 40px;" alt="Logo">
                    </td>
                    <td>{{ event.sName }}</td>
                    <td>{{ event.dStartDate | date }}</td>
                    <td>{{ convertTo12HourFormat(event.sStartTime) }}</td>
                    <td>
                        <span *ngIf="event.bIsPublic">Public</span>
                        <span *ngIf="!event.bIsPublic">Private</span>
                    </td>
                    <td>{{ event.sDescription }}</td>
                    <td [ngClass]="event.type">{{ event.amount | currency }}</td>
                    <td><button routerLink="{{ event._id }}" style="margin-left: -180px !important;"
                            class="download-btn">View</button></td>
                </tr>
            </tbody>


            <tbody *ngIf="bIsMovileView">
                <tr *ngFor="let event of eventsArray">
                    <td style="display: flex;">
                        <img [src]="event.sLogo" class="rounded-circle" style="width: 40px; height: 40px;" alt="Logo">
                        <div>
                            {{ event.sName }} <br> <small style="color: #718EBF;">{{ event.dStartDate | date }}</small>
                        </div>
                    </td>

                    <td><button  routerLink="{{ event._id }}" class="download-btn">View</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <ul *ngIf="activeTab === 'Upcoming'" class="pagination">
            <!-- Previous Button with Arrow -->
            <li class="page-item" [class.disabled]="currentPageForUpcoming === 1">
                <a (click)="previousPage()" class="page-link" tabindex="-1"
                    style="color: #1814F3; font-weight: bold; font-size: 14px;">
                    <img style="margin-right: 5px;" src="../../../assets/left-arrow.svg" width="8px" alt=""> Previous
                </a>
            </li>

            <li *ngFor="let page of pagesForUpcoming" class="page-item"
                [class.active]="currentPageForUpcoming === page">
                <a class="page-link" (click)="goToPageForUpcoming(page)">{{ page }}</a>
            </li>

            <!-- Next Button with Arrow -->
            <li class="page-item" [class.disabled]="currentPageForUpcoming === totalPagesForUpcoming">
                <a (click)="nextPage()" class="page-link" style="color: #1814F3; font-weight: bold; font-size: 14px;">
                    Next <img style="margin-left: 5px;" src="../../../assets/right-arrow.svg" width="8px" alt="">
                </a>
            </li>
        </ul>

        <ul *ngIf="activeTab === 'Past'" class="pagination">
            <!-- Previous Button with Arrow -->
            <li class="page-item" [class.disabled]="currentPageForPast === 1">
                <a (click)="previousPageForPast()" class="page-link" tabindex="-1"
                    style="color: #1814F3; font-weight: bold; font-size: 14px; border: none;">
                    <img style="margin-right: 5px; border: none;" src="../../../assets/left-arrow.svg" width="8px" alt=""> Previous
                </a>
            </li>

            <li *ngFor="let page of pagesForPast" class="page-item" [class.active]="currentPageForPast === page">
                <a class="page-link" (click)="goToPageForPast(page)">{{ page }}</a>
            </li>

            <!-- Next Button with Arrow -->
            <li class="page-item" [class.disabled]="currentPageForPast === totalPagesForPast">
                <a (click)="nextPageForPast()" class="page-link" style="color: #1814F3; font-weight: bold; font-size: 14px;">
                    Next <img style="margin-left: 5px;" src="../../../assets/right-arrow.svg" width="8px" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>