<div class="transaction-container">
    <div class="tabs">
        <button class="tab" [class.active]="activeTab === 'All Transactions'"
            (click)="setActiveTab('All Transactions')">
            All Transactions
        </button>
        <button class="tab" [class.active]="activeTab === 'Income'" (click)="setActiveTab('Income')">
            Income
        </button>
        <button class="tab" [class.active]="activeTab === 'Expense'" (click)="setActiveTab('Expense')">
            Expense
        </button>
    </div>


    <div class="table-view">
        <table class="transaction-table">
            <thead>
                <tr>
                    <th *ngIf="!bIsMovileView">Description</th>
                    <th *ngIf="!bIsMovileView">Transaction ID</th>
                    <th *ngIf="!bIsMovileView">Type</th>
                    <th *ngIf="!bIsMovileView">Card</th>
                    <th *ngIf="!bIsMovileView">Date</th>
                    <th *ngIf="!bIsMovileView">Amount</th>
                    <th *ngIf="!bIsMovileView">Receipt</th>
                </tr>
            </thead>
            <tbody *ngIf="!bIsMovileView">
                <tr *ngFor="let transaction of transactions">
                    <td><img style="margin-right: 10px;" src="../../../assets/round-up-arrow.svg" alt="" width="28px">
                        {{ transaction.name }}</td>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.card }}</td>
                    <td>{{ transaction.date }}</td>
                    <td [ngClass]="transaction.type">{{ transaction.amount | currency }}</td>
                    <td><button class="download-btn">{{ transaction.downloadLabel }}</button></td>
                </tr>
            </tbody>


            <tbody *ngIf="bIsMovileView">
                <tr *ngFor="let transaction of transactions">
                    <td style="display: flex;">
                        <img style="margin-right: 10px;" src="../../../assets/round-up-arrow.svg" width="32px" alt="">
                        <div>
                            {{ transaction.name }} <br> <small style="color: #718EBF;">{{ transaction.date }}</small>
                        </div>
                    </td>
                    <td *ngIf="!bIsMovileView">{{ transaction.id }}</td>
                    <td *ngIf="!bIsMovileView">{{ transaction.category }}</td>
                    <td *ngIf="!bIsMovileView">{{ transaction.card }}</td>
                    <td [ngClass]="transaction.type">{{ transaction.amount | currency }}</td>
                    <td *ngIf="!bIsMovileView"><button class="download-btn">{{ transaction.downloadLabel }}</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <ul class="pagination">
            <!-- Previous Button with Arrow -->
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" style="color: #1814F3; font-weight: bold; font-size: 14px;">
                   <img style="margin-right: 5px;" src="../../../assets/left-arrow.svg" width="8px" alt=""> Previous
                </a>
            </li>

            <!-- Page 1 (Active) -->
            <li class="page-item active">
                <a class="page-link" href="#"
                    style="background-color: #1814F3; color: white; font-weight: bold; font-size: 14px; border-radius: 10px;">
                    1
                </a>
            </li>

            <!-- Page 2 -->
            <li class="page-item">
                <a class="page-link" href="#" style="color: #1814F3; font-weight: bold; font-size: 14px;">2</a>
            </li>

            <!-- Page 3 -->
            <li class="page-item">
                <a class="page-link" href="#" style="color: #1814F3; font-weight: bold; font-size: 14px;">3</a>
            </li>

            <!-- Next Button with Arrow -->
            <li class="page-item">
                <a class="page-link" href="#" style="color: #1814F3; font-weight: bold; font-size: 14px;">
                    Next <img style="margin-left: 5px;" src="../../../assets/right-arrow.svg" width="8px" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>