<div class="d-flex">
  <!-- Sidebar -->
  <div class="sidebar">
    <div style="padding: 20px;">
      <img src="../assets/head.svg" width="160px" alt="">
    </div>
    <nav style="margin-top: 20px;">
      <a href="#" class="active"><i class="fas fa-home"></i> Dashboard</a>
      <a href="#"><i class="fas fa-exchange-alt"></i> Transactions</a>
      <a href="#"><i class="fas fa-wallet"></i> Accounts</a>
      <a href="#"><i class="fas fa-chart-line"></i> Investments</a>
      <a href="#"><i class="fas fa-credit-card"></i> Credit Cards</a>
      <a href="#"><i class="fas fa-hand-holding-usd"></i> Loans</a>
      <a href="#"><i class="fas fa-cogs"></i> Services</a>
      <a href="#"><i class="fas fa-gift"></i> My Privileges</a>
      <a href="#"><i class="fas fa-cog"></i> Setting</a>
    </nav>
  </div>


  <!-- Main Content -->
  <div class="flex-grow-1">
    <!-- Header -->
    <div class="header">
      <h2 style="font-size: 25px; color: #343C6A;">Overview</h2>
      <div style="width: 500px; display: flex; justify-content: space-around;">
        <div class="search">
          <!-- <i class="fas fa-search"></i> -->
           <img src="../assets/search.svg" alt="">
          <input type="text" placeholder="Search for something" />
        </div>

        <div>
          <img src="../assets/setting.svg" width="45px" alt="">
        </div>
        <div>
          <img src="../assets/notification.svg" width="45px" alt="">
        </div>
        <div>
          <img src="../assets/profile.svg" width="50px" alt="">
        </div>
      </div>
    </div>

    <!-- Dashboard Cards and Content -->
    <div class="container mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>