<div *ngIf="!mapEnable" class="create-event-container">
    <form [formGroup]="eventForm" (ngSubmit)="submitForm()">
        <div class="steps">
            <div class="step" [class.active]="currentStep === 1">
                <h3>Step 1: Event Details</h3>
                <div class="profile-picture">
                    <img id="profile-image"
                        [src]="urllink"
                        alt="Profile Picture" />

                    <img id="edit-icon" src="../../../assets/edit-icon.svg" width="35px" alt="Edit Profile"
                        (click)="onEditIconClick()" />

                    <input type="file" #fileInput accept="image/*" formControlName="sLogo" style="display: none;"
                        (change)="selectFiles($event)" />
                </div>


                <div class="form-container">

                    <div class="form-row">
                        <div class="form-group">
                            <label for="eventName">Event Name</label>
                            <input type="text" class="form-control" formControlName="sName" placeholder="Event Name" />
                        </div>

                        <div class="form-group">
                            <label for="eventDescription">Event Description</label>
                            <textarea class="form-control" formControlName="sDescription"
                                placeholder="Description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="startDate">Start Date</label>
                            <input type="date" class="form-control" formControlName="dStartDate" />
                        </div>

                        <div class="form-group">
                            <label for="startTime">Start Time</label>
                            <input type="time" class="form-control" formControlName="sStartTime" />
                        </div>

                        <div class="form-group">
                            <label for="endDate">End Date</label>
                            <input type="date" class="form-control" formControlName="dEndDate" />
                        </div>

                        <div class="form-group ">
                            <label for="endTime">End Time</label>
                            <input type="time" class="form-control" formControlName="sEndTime" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="step" [class.active]="currentStep === 2">
                <h3>Step 2: Registration and Location</h3>
                <br>
                <div class="form-row">
                    <!-- Registration Opens -->
                    <div class="form-group">
                        <label for="registrationOpens">Registration Opens</label>
                        <input type="datetime-local" class="form-control" formControlName="dRegistrationOpens" />
                    </div>
                    <!-- Registration Closes -->
                    <div class="form-group">
                        <label for="registrationCloses">Registration Closes</label>
                        <input type="datetime-local" class="form-control" formControlName="dRegistrationCloses" />
                    </div>
                    <!-- Location -->
                    <!-- <div class="form-group">
                        <label for="physicalLocation">Location (Physical)</label>
                        <input type="text" class="form-control" formControlName="sLocationPhysical" />
                    </div> -->
                    <div class="form-group">
                        <label for="digitalLocation">Location (Digital)</label>
                        <input type="text" class="form-control" formControlName="sLocationDigital" />
                    </div>
                    <div (click)="openMap()" class="form-group">
                        <label for="address">Location (Physical)</label>
                        <input type="text" class="form-control" formControlName="sLocationPhysical" />
                    </div>
                </div>
            </div>

            <div class="step" [class.active]="currentStep === 3">
                <h3>Step 3: Final Details</h3>
                <br>
                <div class="form-row">
                    <!-- Age Restricted Dropdown -->
                    <div class="form-group">
                        <label for="ageRestricted">Age Restricted</label>
                        <select class="form-control" formControlName="bAgeRestricted">
                            <option [ngValue]="true">True</option>
                            <option [ngValue]="false">False</option>
                        </select>
                    </div>
                    <!-- Event Status -->
                    <div class="form-group">
                        <label for="eventStatus">Event Status</label>
                        <select class="form-control" formControlName="sEventStatus">
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="eventStatus">Dress Code</label>
                        <select class="form-control" formControlName="sDressCode">

                            <option value="">No Dress Code</option>
                            <option value="Formal">Formal</option>
                            <option value="Traditional">Traditional</option>
                            <option value="Suit">Suit</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-navigation">
                <button *ngIf="currentStep > 1" (click)="prevStep()" class="btn btn-secondary">Previous</button>
                <button *ngIf="!isLastStep()" (click)="nextStep()" class="btn btn-primary">Next</button>
                <button *ngIf="isLastStep()" (click)="submitData()" type="submit" class="btn btn-success">Save</button>
            </div>
            <div style="display: flex; justify-content: center;">
                <p>Step {{currentStep}}/3</p>
            </div>
        </div>
    </form>
</div>

<div *ngIf="mapEnable">
    <app-google-maps (locationSelected)="setLocation($event)"  (cancelSelection)="closeMap($event)"></app-google-maps>
</div>
