<div class="final">
    <div class="super">
        <div class="header">
            <a href="#" class="title">mi-recall</a>
            <a class="back" (click)="cancelScanner()"><img src="https://static.thenounproject.com/png/997408-200.png" alt="Back" width="30px"></a>
        </div>
        <div class="main">
            <div class="join-info">
                <h3>Scan this QR code to use mi-Recall at</h3>
                <h2>{{eventName}}</h2>
                <!-- <h1>#Event_QR</h1> -->
            </div>
            <div class="midbar"></div>
            <div id="canvas">
                <qrcode [qrdata]="myAngularxQrCode" [width]="500" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
    </div>
    <div class="mobile-view">
        <div class="header">
            <a href="#" class="title">mi-recall</a>
            <a class="back" (click)="cancelScanner()"><img src="https://static.thenounproject.com/png/997408-200.png" alt="Back" width="30px"></a>
        </div>
        <div id="canvas">
            <qrcode [qrdata]="myAngularxQrCode" [width]="350" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <div class="mid"></div>
        <div class="join-info">
            <h3>Scan this QR code to use mi-Recall at</h3>
            <h1>{{eventName}}</h1>
            <!-- <h2>#Event_QR</h2> -->
        </div>
    </div>
    <div class="share-button-container">
        <button (click)="share()"><i class="fas fa-share-alt"></i></button>
    </div>
</div>
